.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}

.login span {
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 700;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.input {
    
}